*{
    font-family: fantasy ;
    font-weight: 80 ;
}

html{
    background-color: rgb(175, 182, 164);
}

a{
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: black;
  }

footer p a{
    color:rgb(214, 225, 225) ;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    padding-left: 20px ;
    font-size: 10px;
    color:rgb(214, 225, 225) ;
}

#TopTittleBar{
    position: fixed;
    left: 10px;
    right: 10px;
    top:10px;
    width: 100%;
    margin: 0px;
    padding: 0px ;
    display: flex;
    flex-direction: row;
    background-color: chartreuse;
    width:100%;
    height: 50px;
    align-items: center;
}

h2{
    margin: 2px 0px 2px 30px;
}

.container {
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#MiddleContainer{
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

#OtherDetails{
    margin-left: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

#superhero-details {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.superhero-info {
    margin-bottom: 10px;
}

.superhero-info label {
    font-weight: bold;
}

.superhero-info span {
    margin-left: 10px;
}
